<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    android:versionName="1.1"
    package="com.thunguip.lefit">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.LeFitBlue" >
        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name"
            android:logo="@drawable/ic_titleicon"
            android:theme="@style/Theme.LeFitBlue" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
>
        </activity>
        <activity
            android:name=".PopupActivity"
            android:label="Le Fit"
            android:theme="@style/Theme.LeFitBlue.Dialog" >
        </activity>
        <activity
            android:name=".DebugActivity"
            android:label="Debug Menu"
            android:theme="@style/Theme.LeFitBlue" >
        </activity>

        <service
            android:name=".MainService"
            android:label="Le Fit Service"/>

        <receiver
            android:name=".AlarmerManager"
            android:process=":AlarmerProccess"
            android:enabled="true" >

            </receiver>

        <receiver android:name=".MainService$BootBroadcastReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".MainService$InternetChangeReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
